@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(223, 223, 223);
}

.advices_textarea, .info_textarea {
    font-family: 'Oswald', sans-serif;
    margin: 80px;
}

.info_textarea_home {
    font-family: 'Oswald', sans-serif;
    margin-top: 80px;
    margin-left: 80px;
    margin-right: 80px;
}

.info_textarea_home p {
    font-family: 'Roboto', sans-serif;
}

.advices_title, .advices_subtitle, .info_title, .info_subtitle {
    font-weight: bold;
}

.advices_title b {
    font-size: 20px;
}

.advices_subtitle {
    margin-top: 50px;
}

.advices_content {
    font-family: 'Roboto', sans-serif;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 100px;
    font-size: 20px;
}

.advices_text, .info_text {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    font-size: 20px;
    margin-bottom: 100px;
}

.info_text_map {
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    font-size: 20px;
}

.advices_content li {
    margin-top: 20px;
}

.image_advices_area {
    margin-bottom: 120px;
}

.image_advice {
    margin-top: 50px;
    margin-left: 5%;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    transition: 0.5s;
}

.image_advice:hover {
    margin-top: 50px;
    margin-left: 5%;
    width: 350px;
    height: 350px;
    border-radius: 5px;
    transition: 0.5s;
}

.image_askwho {
    margin-top: 50px;
    margin-left: 5%;
    width: 600px;
    height: 300px;
    border-radius: 5px;
    transition: 0.5s;
}

.image_askwho:hover {
    margin-top: 50px;
    margin-left: 5%;
    width: 700px;
    height: 350px;
    border-radius: 5px;
    transition: 0.5s;
}

.image_homecare {
    margin-top: 50px;
    margin-left: 5%;
    width: 450px;
    height: 575px;
    border-radius: 5px;
    transition: 0.5s;
}

.image_homecare:hover {
    margin-top: 50px;
    margin-left: 5%;
    width: 525px;
    height: 675px;
    border-radius: 5px;
    transition: 0.5s;
}

.image_pregnancy {
    margin-top: 50px;
    margin-left: 5%;
    width: 450px;
    height: 575px;
    border-radius: 5px;
    transition: 0.5s;
}

.image_pregnancy:hover {
    margin-top: 50px;
    margin-left: 5%;
    width: 525px;
    height: 675px;
    border-radius: 5px;
    transition: 0.5s;
}

.image_stress {
    margin-top: 50px;
    margin-left: 5%;
    width: 450px;
    height: 625px;
    border-radius: 5px;
    transition: 0.5s;
}

.image_stress:hover {
    margin-top: 50px;
    margin-left: 5%;
    width: 525px;
    height: 725px;
    border-radius: 5px;
    transition: 0.5s;
}

.box_background {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 700px;
    margin-bottom: 200px;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px;
    transition: 0.5s;
    background: #343a40;
}

.box:hover {
     height: 400px;
}

.box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.box .imgBx img {
    max-width: 100%;
    opacity: 0.3;
    transition: 0.5s
}

.box:hover .imgBx img {
    opacity: 1;
}

.box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -1;
}

.box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: #fff;
    z-index: -2;
    filter: blur(40px);
}

.box:before, .box:after {
    background: linear-gradient(235deg, #343a40,rgb(162, 221, 231));
}

.box .content {
    position: absolute;
    bottom : 0;
    left: 10px;
    right: 10px;
    bottom: 10px;
    height: 90px;
    background: #343a40;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.5s;
}

.box:hover .content {
    opacity: 1;
}

.box .content h2 {
    font-size: 20px;
    color: white;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 1px;
}

.box .content h2 span {
    font-size: 14px;
    color: white;
    font-weight: 200;
    letter-spacing: 2px;
}